@model IEnumerable<Job>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <h1>New Jobs (@Model.Count())</h1>
        <hr class="no-margen">
    </div>>    
</div>
<div class="row">
    @foreach(var job in Model)
    {
        <div class="posting">
            <div class="title-container">
                <h3>@job.Title</h3>
                <span>@job.Company | @job.Location | posted on @job.PostedDate.ToShortDateString() </span>
            </div>
            <p class="description">@job.Description</p>
            <a 
                
                href="@Url.Action("Apply","Jobs", new {id=job.JobId})" 
                role="button" 
                class="btn btn-success">Apply!</a>
                <hr/>
        </div>
    }
</div>
